@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Light.woff') format('woff'),
        url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Extrabold.eot');
    src: url('../fonts/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Extrabold.woff') format('woff'),
        url('../fonts/OpenSans-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Semibold.eot');
    src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Semibold.woff') format('woff'),
        url('../fonts/OpenSans-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans.eot');
    src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans.woff') format('woff'),
        url('../fonts/OpenSans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}



@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?6fofc5');
    src:  url('../fonts/icomoon.eot?6fofc5#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?6fofc5') format('truetype'),
      url('../fonts/icomoon.woff?6fofc5') format('woff'),
      url('../fonts/icomoon.svg?6fofc5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  [class^="icon-"], [class*=" icon-"] {
   &:before{
        /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   }
  }


.icon-avatar:before {
  content: "\e900";
}
.icon-back-left-arrow-curve-symbol:before {
  content: "\e901";
}
.icon-dribbble .path1:before {
  content: "\e902";
  color: rgb(242, 103, 152);
}
.icon-dribbble .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(241, 242, 242);
}
.icon-envelope:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
  color: rgb(59, 89, 152);
}

.icon-instagram:before {
  content: "\e907";
  color: #6a453b;
}
.icon-like:before {
  content: "\e908";
}
.icon-linkedin .path1:before {
  content: "\e909";
  color: rgb(0, 122, 185);
}
.icon-linkedin .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(241, 242, 242);
}
.icon-music-player:before {
  content: "\e90b";
}
.icon-newspaper:before {
  content: "\e90c";
}
.icon-settings-work-tool:before {
  content: "\e90d";
}
.icon-twitter .path1:before {
  content: "\e90e";
  color: rgb(85, 172, 238);
}
.icon-twitter .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(241, 242, 242);
}
.icon-vk .path1:before {
  content: "\e910";
  color: rgb(77, 118, 161);
}
.icon-vk .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}