@mixin r($point) {
    @media (max-width: $point) { @content; }
}

.body{
    width: calc(100% - 150px);
    padding-left: 40px;
        @include r(1340){
            padding-left: 20px;
        }
}
.block{
    position: relative;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 15px 0 0;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
}
.avatar{
    height: 200px;
    width: 200px;
    border-radius: 100%;

}
.avatar[src=""]{
    background: rgba(#000, .2);
}
.description{
    padding-left: 20px;
}
.name{
    font-size: 20px;
}
.excerpt{
    font-size: 14px;
    margin-top: 10px;
}