@mixin r($point) {
    @media (max-width: $point + px) { @content; }
}

.header{
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    height: 50px;
    z-index: 99;
}

.wrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: white;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    user-select: none;
    span{
        font-weight: 900;
        transform: translateY(-1px);
    }
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.item{
    color: white;
    margin-left: 40px;
    font-weight: 400;
    cursor: pointer;
    font-size: 14px;

    @include r(420){
        margin-left: 30px;
    }
    &:hover{

    }
}

.footer{
    display: none;
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: #333;
    height: 50px;
    z-index: 99;
    @include r(600){
        display: flex;
        justify-content: space-around;
    }
}

.link{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;

    &:nth-child(1){
        &:before{
            font-size: 20px !important;
        margin-bottom: 2px;
        }
    }
    &:nth-child(2){
        &:before{
            font-size: 20px !important;
        margin-bottom: 2px;
        }
    }
    &:nth-child(3){
        &:before{
            font-size: 20px !important;
        margin-bottom: 2px;
        }
    }
    &:nth-child(4){
        &:before{
            font-size: 20px !important;
        margin-bottom: 2px;
        }
    }
}