@mixin r($point) {
    @media (max-width: $point + px) { @content; }
}

.block{
    position: relative;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 15px 0 0;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
}
.textarea{
    width: 100%;
    height: 50px;

    @include r(420){
        font-size: 12px;
        height: 45px;
    }
    &:focus{
        &::placeholder{
            color: transparent;
            transition: color .3s;
        }
    }
    &::placeholder{
        transition: color .3s;
    }
}