.wrap{
    max-width: 1280px;
    padding: 0px 40px 0px 40px;
    @include r(1340){
        padding: 0px 20px 0px 20px;
    }
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    height: 50px;
    &-wrap{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &-logo{
        color: white;
        font-weight: 800;
        font-size: 24px;
        cursor: pointer;
    }
    &-menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    &-item{
        color: white;
        margin-left: 50px;
        font-weight: 400;
        cursor: pointer;
        &:hover{
            
        }
    }
}