@mixin r($point) {
    @media (max-width: $point + px) { @content; }
}

.block{
    position: relative;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 15px 0 0;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    @include r(600){
       
    }
}

.section{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    @include r(600){
        flex-direction: column;
    }
}

.dialogs{
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 200px);
    height: 100%;
    overflow: scroll;

    @include r(600){
        overflow: auto;
        margin-right: 0;
        flex-direction: row;
        width: 100%;
    }
    &_item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.img{
    margin-bottom: 5px;
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

.messages{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    max-height: calc(100vh - 200px);
    height: 100%;
    overflow: scroll;
    box-sizing: border-box;
    position: relative;

    &:before{
        content:"";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%,rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%,rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%,rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%,rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.42999999999999%,rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.71600000000001%,rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%),linear-gradient(135deg, rgb(246, 99, 200) 0%, rgb(246, 99, 200) 12.5%,rgb(223, 98, 196) 12.5%, rgb(223, 98, 196) 25%,rgb(199, 97, 192) 25%, rgb(199, 97, 192) 37.5%,rgb(176, 96, 188) 37.5%, rgb(176, 96, 188) 50%,rgb(152, 95, 184) 50%, rgb(152, 95, 184) 62.5%,rgb(129, 94, 180) 62.5%, rgb(129, 94, 180) 75%,rgb(105, 93, 176) 75%, rgb(105, 93, 176) 87.5%,rgb(82, 92, 172) 87.5%, rgb(82, 92, 172) 100%);
    opacity: 0.13;
    z-index: 2;
    }
}

.message{
    padding: 10px 15px;
    background: rgba(rgb(150, 178, 255), .2);
    border-radius: 20px;
    display: flex;
    margin-bottom: 10px;

    &.right{
        display: flex;
        align-self: flex-end;
    }
}
.name{
    font-size: 14px;
    
}

.writearea{
    height: 50px;
    box-sizing: border-box;
}
.message_section{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.writearea{
    width: 100%;
    height: 50px;
    max-height: 135px;
    @include r(420){
        font-size: 12px;
        height: 45px;
    }
    &:focus{
        &::placeholder{
            color: transparent;
            transition: color .3s;
        }
    }
    &::placeholder{
        transition: color .3s;
    }
}