@mixin r($point) {
    @media (max-width: $point + px) { @content; }
}

.img{
    margin-bottom: 5px;
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

.messages{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    max-height: calc(100vh - 200px);
    height: 100%;
    overflow: scroll;
    box-sizing: border-box;
}

.message{
    padding: 10px 15px;

    background: rgba(255, 239, 239, 1);
    border-radius: 20px;
    display: flex;
    margin-bottom: 10px;
    font-size: 14px;
    position: relative;
    z-index: 4;
    @include r(420){
        font-size: 12px;
    }
    &.right{
        display: flex;
        align-self: flex-end;
        background: rgba(234, 240, 255, 1);
    }
}
.name{
    font-size: 14px;
    
}